/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-color: #FF0070;
  --title-text:  #000028;
  --card-text: #F1B2CE;
  --main-font: 'IBM Plex Mono';
  --background-color: #000028;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--background-color);
}

.header__decorate-text {
  color: var(--main-color);
}

.header__title-text {
  color: #DB00FF;
}

.title-decor {
  color: var(--title-text);
  background-color: var(--main-color);
}

.cards_heading {
  color:var(--main-color);
}

