/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_dark {
  --main-color: #ff0070;
  --heading-color: #db00ff;
  --dark-color: #000028;
  --card-text: #f1b2ce;
  --background-color: #000028;
  --main-font: IBM Plex Mono;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #ff0070;
    --heading-color: #db00ff;
    --dark-color: #000028;
    --card-text: #f1b2ce;
    --background-color: #000028;
    --main-font: IBM Plex Mono; 
    }
}

.page.theme_dark {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
