/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-color: #ff0070;
  --heading-color: #db00ff;
  --dark-color: #000028;
  --card-text: #f1b2ce;
  --background-color: #000028;
  --main-font: IBM Plex Mono;
  --background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decorate-text::before {
  display: flex;
}

.theme_dark .header__decorate-text::after {
  display: flex;
}

.theme_dark .decorated-zone::before {
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.theme_dark .decorated-zone::after {
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.theme_dark .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--main-color);
}

.theme_dark .cards__first-title {
  color: var(--main-color);
}

.theme_dark .header__theme-menu-item {
  color: var(--main-color);
}

.theme_dark .cards_heading {
  color: var(--main-color);
}

.theme_dark .header__theme-menu-button_active {
  outline: 1px solid var(--main-color);
}