/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_light {
  --main-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --dark-color:#353430;
  --card-text: #353430;
  --background-color: #FFF1F7;
  --main-font: IBM Plex Mono;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FF8DCB;
    --heading-color: #FFC2E6;
    --dark-color:#353430;
    --card-text: #353430;
    --background-color: #FFF1F7;
    --main-font: IBM Plex Mono; 
    }
}

.page.theme_light {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-light.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.theme_light .header__decorate-text::before {
  display: none;
}

.theme_light .header__decorate-text::after {
  display: none;
}

.theme_light .decorated-zone::before {
  border-top: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
}

.theme_light .decorated-zone::after {
  border-bottom: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.theme_light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--dark-color);
}

.theme_light .cards__first-title {
  color: var(--dark-color);
}

.theme_light .header__theme-menu-item {
  color: var(--dark-color);
}

.theme_light .cards_heading {
  color: var(--dark-color);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--dark-color);
}