/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --dark-color: #353430;
  --card-text: #353430;
  --background-color: #fff1f7;
  --shadow-color: #ff0070;
  --main-font: IBM Plex Mono;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --dark-color: #353430;
    --card-text: #353430;
    --background-color: #fff1f7;
    --shadow-color: #ff0070;
    --main-font: IBM Plex Mono;
    --background-image: url(../images/cover-image-light.png);
  }

  .header__decorate-text::before {
    display: none;
  }
  
  .header__decorate-text::after {
    display: none;
  }
  
  .decorated-zone::before {
    border-top: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
  }
  
  .decorated-zone::after {
    border-bottom: 1px solid var(--dark-color);
    border-left: 1px solid var(--dark-color);
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
  
  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--dark-color);
  }
  
  .cards__first-title {
    color: var(--dark-color);
  }
  
  .header__theme-menu-item {
    color: var(--dark-color);
  }
  
  .cards_heading {
    color: var(--dark-color);
  }
  
  .header__theme-menu-button_active {
    outline: 1px solid var(--dark-color);
  }
  
  @media (width >= 1024px) {
    .header__title-text {
      text-shadow: 4px 4px 0px var(--shadow-color);
    }
  }
  
}

.theme_light .header__decorate-text::before {
  display: none;
}

.theme_light .header__decorate-text::after {
  display: none;
}

.theme_light .decorated-zone::before {
  border-top: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
}

.theme_light .decorated-zone::after {
  border-bottom: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--dark-color);
}

.theme_light .cards__first-title {
  color: var(--dark-color);
}

.theme_light .header__theme-menu-item {
  color: var(--dark-color);
}

.theme_light .cards_heading {
  color: var(--dark-color);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--dark-color);
}

@media (width >= 1024px) {
  .theme_light .header__title-text {
    text-shadow: 4px 4px 0px var(--shadow-color);
  }
}