/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_light {
  --main-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --dark-color:#353430;
  --card-text: #353430;
  --background-color: #FFF1F7;
  --main-font: IBM Plex Mono;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FF8DCB;
    --heading-color: #FFC2E6;
    --dark-color:#353430;
    --card-text: #353430;
    --background-color: #FFF1F7;
    --main-font: IBM Plex Mono; 
    }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--background-color);
  background-image: url(../images/cover-image-light.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}