/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 100vw;
  max-block-size: 100vh;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 3fr 6fr 4fr;
  padding: 10px;
  inline-size: 100vw;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25.038px;
  height: 24.999px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25.038px;
  height: 24.999px;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.header__decorate {
  display: flex;
  justify-content: end;
  max-block-size: 26px;
  margin-block-end: 40.5px;
}

.header__decorate-text {
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  block-size: 100%;
  margin-block-end: 40.5px;
}

.header__decorate-text::before {
  content: "REC";
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 138.889%;
}

.header__decorate-text::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0px 0px 3px 3px var(--main-color);
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {
  color: var(--main-color);
  text-align: end;
  min-block-size: 23px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.header__theme-menu-button {
  min-block-size: 23px;
  min-inline-size: 44px;
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0 13px;
  cursor: pointer;
}

.header__theme-menu-button .header__theme-menu-button_active {
  border: 2px solid var(--main-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--main-color);
}

.header__title-text {
  display: flex;
  justify-content: start;
  color: var(--heading-color);
  text-shadow: 4px 4px 0px var(--main-color);
  inline-size: 100%;
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  margin-block-start: 67.5px;
  margin-block-end: 55px;
}

.header__main {
  margin-block-end: 56px;
  display: flex;
  justify-content: end;
}

.header__main-text {
  min-width: 355px;
  max-width: 364px;
}

.title-decor {
  color: var(--dark-color);
  background-color: var(--main-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.main {
  padding: 0 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards__first-title {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-start: 40px;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards__list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards__list-text {
  color: var(--card-text);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.cards_heading {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-start: 50px;
}

.cards__list-link {
  text-shadow: 2px 1px var(--main-color);
  text-decoration: none;
}

.cards__list-link:hover {
  border-bottom: 2px solid var(--card-text);
}

.cards__list-link:focus {
  border: 1px solid var(--card-text);
}

.cards__list-link:focus-visible {
  border: 1px solid var(--card-text);
}

.cards__list-item-title {
  font-weight: 400;
}

.pictures {
  margin-block-start: 50px;
}

.pictures__area {
  display: grid;
  justify-items: center;
  gap: 10px;
  margin-block-start: 10px;
}

.pictures__area-img {
  max-inline-size: 355px;
}

.footer {
  inline-size: 100vw;
  block-size: 100vh;
  position: relative;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
}

.footer__text {
  color: var(--heading-color);
  text-shadow: 2px 2px 0px var(--main-color);
  font-family: var(--main-font);
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-rows: 1fr 3fr 4.5fr 4fr;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__decorate {
    margin-block-end: 148.5px;
  }

  .header__title-text {
    max-block-size: 100px;
    margin-block-start: 172.5px;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__main {
    margin-block-start: 107px;
  }

  .main {
    padding: 0 20px;
  }

  .cards {
    flex-direction: row;
    margin-block-start: 60px;
  }

  .cards__first-title {
    margin-block-start: 0;
    min-inline-size: 236px;
  }

  .tablet-style {
    flex-direction: column;
  }

  .tablet-margin {
    margin-block-start: 80px;
  }

  .tablet-width {
    max-inline-size: 236px;
  }

  .cards_heading {
    margin-block-start: 0;
    min-inline-size: 236px;
  }

  .pictures__area {
    display: grid;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    gap: 20px;
    margin-block-start: 20px;
  }

  .pictures__area-img {
    max-inline-size: 475px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .pictures__area-sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    min-inline-size: 475px;
    max-inline-size: 649px;
  }

  .pictures__area-ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    min-inline-size: 229px;
    max-inline-size: 315px;
  }

  .pictures__area-tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    min-inline-size: 229px;
    max-inline-size: 315px;
  }

  .pictures__area-books {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    min-inline-size: 230px;
    max-inline-size: 315px;
  }

  .pictures__area-street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    min-inline-size: 479px;
    max-inline-size: 649px;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__menu-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__decorate {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .header__title-text {
    margin-block-start: 124.5px;
    margin-block-end: 143px;
  }

  .header__main {
    margin-block-start: 0px;
  }

  .header__main-text {
    max-block-size: 71px;
    min-inline-size: 491px;
  }

  .cards__first-title {
    margin-block-start: 0;
    min-inline-size: 314.96px;
  }

  .cards_heading {
    margin-block-start: 0;
    min-inline-size: 315px;
  }

  .desktop-direction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .desktop-width {
    max-inline-size: 315px;
  }

  .pictures__area {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
  }

  .pictures__area-sunset {
    min-inline-size: 649px;
    max-inline-size: 1500px;
  }

  .pictures__area-ice-cream {
    min-inline-size: 315px;
    max-inline-size: 1500px;
  }

  .pictures__area-tape {
    min-inline-size: 315px;
    max-inline-size: 1500px;
  }

  .pictures__area-books {
    min-inline-size: 315px;
    max-inline-size: 1500px;
  }

  .pictures__area-street {
    min-inline-size: 649px;
    max-inline-size: 1500px;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
